/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/* U_MT\(([a-zA-Z_]+), *([a-zA-Z_]+)\)     &u_mt $1 $2 */

/* Layers */
#define U_BASE   0
#define U_EXTRA  1
#define U_TAP    2
#define U_BUTTON 3
#define U_NAV    4
#define U_MOUSE  5
#define U_MEDIA  6
#define U_NUM    7
#define U_SYM    8
#define U_FUN    9

/ {
    combos {
        compatible = "zmk,combos";

        ctrl_alt_del {
            bindings = <&kp LC(LA(DELETE))>;
            key-positions = <11 12 41>;
        };

        destop_left {
            bindings = <&kp LG(LC(LEFT))>;
            key-positions = <16 15 38>;
        };

        desktop_right {
            bindings = <&kp LG(LC(RIGHT))>;
            key-positions = <15 16 39>;
        };

        screen_capture {
            bindings = <&kp LG(LS(S))>;
            key-positions = <12 24>;
        };
    };

    behaviors {
        u_mt: u_mt {
        compatible = "zmk,behavior-hold-tap";
        label = "u_mt";
        #binding-cells = <2>;
        tapping_term_ms = <220>;
        quick-tap-ms = <250>;
        flavor = "tap-preferred";
        bindings = <&kp>, <&kp>;
        };

        u_lt: u_lt {
        compatible = "zmk,behavior-hold-tap";
        label = "u_lt";
        #binding-cells = <2>;
        tapping_term_ms = <220>;
        quick-tap-ms = <250>;
        flavor = "tap-preferred";
        bindings = <&mo>, <&kp>;
        };
    };

    // -----------------------------------------------------------------------------------------
    // |  TAB |   1  |   2  |   3  |   4  |   5  |   |   6  |   7   |   8  |   9  |  10  | BKSP |
    // | CTRL |  13  |  14  |  15  |  16  |  17  |   |  18  |  19   |  20  |  21  |  22  |      |
    // | SHFT |  25  |  26  |  27  |  28  |  29  |   |  30  |  31   |  32  |  33  |  34  | ESC  |
    //                         | 36 | 37 | 38 |         | 39 | 40  | 41 |
    keymap {
        compatible = "zmk,keymap";

        base_layer {

            label = "Base";
            bindings = <
&kp TAB          &kp Q             &kp W             &kp E             &kp R             &kp T             &kp Y             &kp U             &kp I             &kp O             &kp P             &kp ESC
&kp LCTRL        &u_mt LGUI A      &u_mt LALT S      &u_mt LCTRL D     &u_mt LSHFT F     &kp G             &kp H             &u_mt LSHFT J     &u_mt LCTRL K     &u_mt LALT L      &u_mt LGUI SQT    &kp FSLH
&kp LSHFT        &u_lt U_BUTTON Z  &u_mt RALT X      &kp C             &kp V             &kp B             &kp N             &kp M             &kp COMMA         &u_mt RALT DOT    &u_lt U_BUTTON SLASH &kp BSPC
                                   &u_lt U_MEDIA ESC &u_lt U_NAV SPACE &u_lt U_MOUSE TAB &u_lt U_SYM RET   &u_lt U_NUM BSPC  &u_lt U_FUN DEL
            >;
        };

        lower_layer {
            label = "Lower";
            bindings = <
   &kp TAB        &kp N1        &kp N2        &kp N3        &kp N4        &kp N5        &kp N6      &kp N7    &kp N8  &kp N9     &kp N0    &trans
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4        &trans    &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT   &kp DEL
 &kp LSHFT      &kp C_PP    &kp C_MUTE  &kp C_VOL_DN  &kp C_VOL_UP        &trans    &kp C_PREV  &kp C_NEXT    &trans  &trans     &trans  &kp BSPC
                                            &kp LGUI        &trans       &kp RET     &kp SPACE      &trans  &kp RALT
            >;
        };

        raise_layer {
            label = "Raise";
            bindings = <
  &kp TAB  &kp EXCL    &kp AT  &kp HASH   &kp DLLR  &kp PRCNT    &kp CARET   &kp AMPS  &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &kp TILDE
&kp LCTRL  &kp LEFT  &kp DOWN    &kp UP  &kp RIGHT     &trans    &kp MINUS  &kp EQUAL         &kp LBKT  &kp RBKT  &kp BSLH  &kp GRAVE
&kp LSHFT    &trans    &trans    &trans     &trans     &trans    &kp UNDER   &kp PLUS         &kp LBRC  &kp RBRC  &kp PIPE   &kp BSPC
                               &kp LGUI     &trans    &kp RET    &kp SPACE     &trans         &kp RALT
            >;
        };

        numpad_layer {
            label = "Numpad";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp KP_N7        &kp KP_N8        &kp KP_N9  &kp KP_MINUS    &kp KP_DIVIDE
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp KP_N4        &kp KP_N5  &kp KP_NUMBER_6   &kp KP_PLUS  &kp KP_MULTIPLY
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp KP_N1        &kp KP_N2        &kp KP_N3    &kp KP_DOT           &trans
                        &trans  &trans  &trans    &trans     &tog 0  &kp KP_NUMBER_0
            >;
        };
    };
};
